@use "variables" as v;

footer{
    height: 10vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;

    ul{
        list-style: none;
        @include v.Flex(row, nowrap, space-around, center);
        gap: 15px;
        a{
            text-decoration: none;
            font-size: 24px;
            font-weight: 600;
            .rs{
                height: 5vh;
                width: auto;
            }
            .wa{
                position: fixed;
                bottom: 50px;
                right: 50px;
                animation: vibrate 2s ease-in-out infinite;
                animation-delay: 2s;
            }
        }
    }
    // @include v.Tablet{
    // }
    @include v.Mobile{
        padding: 25px;
        gap: 25px;
    }
}

@keyframes vibrate {
    0%{
        transform: translateX(0) translateY(0);
    }
    10%{
        transform: translateX(0) translateY(-15px);
    }
    20%{
        transform: translateX(-15px) translateY(-15px);
    }
    30%{
        transform: translateX(15px) translateY(-15px);
    }
    40%{
        transform: translateX(-15px) translateY(-15px);
    }
    50%{
        transform: translateX(15px) translateY(-15px);
    }
    60%{
        transform: translateX(-15px) translateY(-15px);
    }
    70%{
        transform: translateX(15px) translateY(-15px);
    }
    80%{
        transform: translateX(-15px) translateY(-15px);
    }
    90%{
        transform: translateX(15px) translateY(-15px);
    }
    100%{
        transform: translateX(0) translateY(0);
    }
}