@use "variables" as v;

.main-home{
    @include v.Flex(column, nowrap, center, center);
    gap: 50px;
    section{
        width: 80vw;
        @include v.Flex(column, nowrap, center, center);
        gap: 20px;
        .home.title{
            color: v.$DoradoSuave;
            font-size: 48px;
        }
        .home.title2{
            color: v.$DoradoSuave;
            font-size: 32px;
        }
        .home-cont-dest{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);
            justify-items: center;
            align-items: center;
            .col-dest{
                width: 20vw;
                height: auto;
            }
            .home-suit{
                width: 30vw;
                height: auto;
                grid-column: 2/3;
                grid-row: 1/3;
            }
            .corb{
                grid-column: 3/4;
                grid-row: 1/3;
            }
            .cint{
                grid-column: 1/2;
                grid-row: 1/3;
            }
            .zap{
                grid-column: 2/3;
                grid-row: 3/4;
            }
        }
        .home-btns{
            border: 2px solid v.$DoradoSuave;
            border-radius: 15px;
            padding: 10px;
            color: v.$DoradoSuave;
            font-size: 20px;
            width: 15vw;
            text-align: center;
        }
        .edward, .tailoring{
            width: 50vw;
            height: auto;
        }
    }
    @include v.Tablet{
        section{
            .edward, .tailoring{
                width: 80vw;
            }
        }
    }
    @include v.Mobile{
        text-align: center;
        section{
            .home-cont-dest{
                display: flex;
                flex-flow: row wrap;
                gap: 20px;
                .col-dest{
                    width: 35vw;
                }
                .home-suit{
                    width: 40vw;
                }
            }
            .home-btns{
                width: 50vw;
            }
            .edward, .tailoring{
                width: 75vw;
            }
        }    
    }
}